@import url(https://fonts.googleapis.com/css?family=Artifika);
@import url(https://fonts.googleapis.com/css?family=Lato);
body {
    font-family: Artifika;
    background: url("../img/bg.png");
    color: white;
    padding-bottom: 150px;
}
input {
    color: black;
}

input, p {
    font-family: Lato;
}

.gamehash {
    font-family: Lato;
}
.logo {
    margin: 25px 0 0 0 ;
    padding: 0;
    text-align: center;
}

label {
    font-family: Lato;
    font-weight: normal;
}

span {
    color: white;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.glyphicon {
    cursor: pointer;
}

.black {
    color: black;
}

.white {
    color: white;
}

.gameArea {
    background: darkslategrey;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.5) 4px 4px 4px 4px;
    min-height: 700px;
    width: 50%;
    margin: 25px auto 0 auto;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 125px -13px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 125px -13px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 125px -13px rgba(0,0,0,1);
}

.middle {
    margin: 0 auto;
}

.betInfo {
    height: 75px;
}

.inline {display: inline-block;}

.bet {
    width: 40%;
    height: 125px;
    background: #3a2f4f;
    clear: both;
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 0;
    padding-top: 5px;
    border-radius: 0 0 25px 0;
}

.bet div {
    display: inline-block;
    margin-left: 2px;
}

.chips {
    cursor: pointer;
    width: 60px;
    opacity: 0.5;
}

.chips:hover {
    opacity: 1;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.disabled:hover {
    cursor: not-allowed;
}

.betInfo h4 {
    font-size: 14px;
}

.betInfo div {
    display: block;
}

.crypto {
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 135px;
}

.crypto input {
    margin-top: 5px;
}

#previous_outcome {
    width: 70%;
}

.gamehash {
    /*position: absolute;*/
    /*left: 10px;*/
    /*right: 0;*/
    /*bottom: 135px;*/
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    z-index: 1001;

}

.dodger {
    color: dodgerblue;
}



.moveUp {
    position: absolute;
    top: 15px;
    left: 47px;
    display: inline;
}

.moveUp2 {
    position: absolute;
    top: 15px;
    left: 43px;
    display: inline;
}

.moveUp3 {
    position: absolute;
    top: 15px;
    left: 37px;
    display: inline;
}

.buttons {
    width: 60%;
    border-radius: 0 0 0 25px;
    height: 125px;
    clear: both;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    border-top: 2px solid white;
}

.buttons button {
    width: 20%;
    margin: 0;
    border: 0;
    background: darkslategrey;
    border-radius: 0;
    font-size: 16px;
    height: 100%;
    border-right: 2px solid white;
    color: white;
}
.buttons button:hover {
    color: dodgerblue;
}

.buttons button:nth-last-child(1) {
    width: 20.7%;
    border-radius: 0 0 0 0;

}
.buttons button:nth-child(1) {
    border-radius: 0 0 0 25px;
}

.wellT {
    background: transparent;
    border: none;
    box-shadow: none;
}

.gameDetails {
    width: 48vw;
    height: 66px;
    text-align: center;
    /*border-top: 1px solid white;*/
    /*border-bottom: 1px solid white;*/
    color: black!important;
    display: inline-block;
    margin: 0px auto;
    min-height: 66px;
}

h1, p {
    color: white;
}

button {
    color: black;
}

.playerStats {
    height: 100px;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.card img {
    width: 100px;
    display: inline-block;
    float: left;
    z-index: 0;
    position: relative;

}

.fadeIn {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
.fadeIn0 {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
.fadeIn1 {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.8s;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.8s;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}
.fadeIn2 {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.1s;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.1s;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.1s;
}
.fadeIn3 {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.1s;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.1s;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.1s;
}
.fadeIn4 {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1.1s;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1.1s;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.1s;
}



@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-50px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-50px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-250px);
        transform: translateX(250px);
    }
    100% {
        transform: translateY(0);
    }
}


.back {
    width: 100px;
    height: 150px;
}

.dealer .card img:nth-last-child(1) {
    width: 100px;
    height: 150px;
    box-shadow: 10px 8px 25px 0px #000;
}

.player1 .card img:nth-last-child(1) {
    width: 100px;
    height: 150px;
    box-shadow: 10px 8px 25px 0px #000;
}

.dealerSide .col-md-1, .playerSide .col-md-1 {
    width: 4%;
}

.dealerSide {
    margin-bottom: 20px;
    margin-top: 50px;
}
.playerSide {
    margin-top: 10px;
}


.verifyHand {
    display: block;
    width: 80%;
    margin: 25px auto;
}

.blackjacktext {
    position: absolute;
    top: 28%;
    right: 30%;
    opacity: 0.2;
}


/*
*
*Header
*
*/

.main-logo {
    width: 300px;
    height: 100px;
    background-image: url("../img/blackjack_logo_edited.PNG");
}