<div class="container">
    <!-- DONT NEED HEADER AND FOOTER BECAUSE THIS PAGE IS RENDERED THROUGH INDEX.HTML AND ANGULAR ROUTE -->
    <div class="main-logo"></div>

    <div class="vertical-center" ng-if="!isLoggedIn">
        <div class="loginPage" ng-click="bryner = !bryner">
                <uib-tabset active="active" justified="true">
                    <uib-tab index="0" heading="Register">
                        <h2 class="text-center">Register</h2>
                        <h3 class="dodger text-center" ng-if="registerUserSuccess">Success! Please Login</h3>
                        <h3 class="dodger text-center" ng-if="!registerUserSuccess && hasTried === true">Please try again!</h3>
                        <h4 class="dodger text-center" ng-if="!registerUserSuccess && hasTried === true">min 4 chars for pass and username <br /> or username is taken</h3>

                        <form>
                            <h4>Username:</h4>
                            <input ng-model="username" type="text" class="form-control"/>
                            <h4>Password:</h4>
                            <input ng-model="password" type="text" class="form-control"/>
                            <h4>Confirm Password:</h4>
                            <input type="text" class="form-control"/>
                            <br/>
                            <div class="text-center">
                                <button type="button" ng-click="registerNewUser(username, password)" class="btn btn-primary btn-lg">Register</button>
                            </div>
                        </form>
                    </uib-tab>

                    <uib-tab index="1" heading="Login" active="tab.active" disable="tab.disabled">
                        <h2 class="text-center">Login</h2>
                        <h3 class="dodger text-center" ng-if="loggedInSuccess">Success!</h3>
                        <h3 class="dodger text-center" ng-if="!loggedInSuccess && hasTried === true">Please try again!</h3>
                        <form>
                            <h4>Username:</h4>
                            <input ng-model="usernamelog" type="text" class="form-control"/>
                            <h4>Password:</h4>
                            <input ng-model="passwordlog" type="text" class="form-control"/>
                            <br/>
                            <div class="text-center">
                                <button type="button" ng-click="loginWithParams(usernamelog, passwordlog)" class="btn btn-primary btn-lg">Login</button>
                            </div>
                        </form>
                    </uib-tab>
                </uib-tabset>

        </div>
    </div>
    <section class="homePage text-center" ng-if="isLoggedIn">
        
        <h1>{{loggedInUsername}}</h1>
        
        <div class="">
            <h4>Balance: {{userLoginBalance.balance}}</h4>
            <h4>Total Credits Won: {{userParams.meta[0].total_won}}</h4>
            <h4>Total Credits Bet: {{userParams.meta[0].total_bet}}</h4>
            <h4>Total Hands: {{userParams.meta[0].total_hands}}</h4>
            <h4>Hands Won: {{userParams.meta[0].hands_won}}</h4>
            <h4>Blackjacks: {{userParams.meta[0].blackjacks}}</h4>
        </div>
        
        <button class="startGame" ng-click="startNewGame(loggedInUsername)" >Start new Game</button>
        <button class="startGame" ng-click="deleteAccount(loggedInUsername)" >DeleteAccount(unreversable)</button>
    </section>
</div>

